@*@{
        ViewBag.Title = "display";
    }*@

<html>
<body>

    @*<style>
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>

        <img src="~/Resources/export-map-share.png" />*@

    <p>Lat is:</p>

    <p type="text" id="networkLat" size="5"></p>
    <p type="text" id="networkLon" size="5"></p>

</body>
</html>


<script>
    $.post("@Url.Action("OpenNewFile")");
    var IntervalTime = 1000 / @Session["time"];
    var IntervalTimeout = @Session["timeout"] * 1000 + IntervalTime;
    alert(IntervalTime);


    function drawAndSavePlanePath() {
        if (IntervalTimeout <= IntervalTime) {
            alert("From js about to close file and client");
            $.post("@Url.Action("CloseFile")");
            $.post("@Url.Action("Disconnect")");
            clearInterval(functionIntervalId);
        }
        else {
            $.post("@Url.Action("GetNetwork")").done(function (xml) {

                var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                    NetworkLat = $xml.find("Lat").text();
                NetworkLon = $xml.find("Lon").text();
                $("#networkLat").text(NetworkLat);
                $("#networkLon").text(NetworkLon);
                
            });
            alert("About to write");
            $.post("@Url.Action("WriteToFile")");
        }
        IntervalTimeout -= IntervalTime;
    }

    var functionIntervalId = setInterval(drawAndSavePlanePath, IntervalTime);
    drawAndSavePlanePath();

</script>

